.root {
	-fx-background-color: #fff0f5;
}

.title {
	-fx-font-family: "Times New Roman";
	-fx-font-size: 20;
	-fx-underline: true;
	-fx-font-weight: bold;
	-fx-column-alignment: center;
}
.sub_label {
	-fx-font-family: "Times New Roman";
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-column-alignment: center;
}
.text {
	-fx-font-family: "Times New Roman";
	-fx-font-size: 12;
	-fx-column-alignment: center;
}
.field {
	-fx-font-family: "Times New Roman";
	-fx-font-size: 12;
	-fx-column-alignment: center;
}
.outer_box {
	-fx-spacing: 15;
	-fx-padding: 15;
}

.inner{
	-fx-padding: 5;
}

.button {
	-fx-background-color: #eee8aa;
	-fx-border-color: #000000;
	-fx-font-family: "Times New Roman";
}

.button:hover {
	-fx-background-color: #f0e68c;
}

